{% extends "blog/base_full_width.html" %}

{% block head_title %}Create Post - Blog{% endblock head_title %}

{% block main_area %}
    <h1>Create New Post</h1>
    <hr/>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <table>
            {{ form }}
            <tr>
                <th><label for="id_tags">Tags:</label></th>
                <td><input type="text" name="tags" id="id_tags"></td>
            </tr>
        </table>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock main_area %}
